<!DOCTYPE html>
<html lang="en">

    {{ partial "head.html" . }}

    <body>

    {{ partial "header.html" . }}

        <div id="content" class="px-5">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-10-tablet is-8-widescreen is-7-fullhd">

                        <div class="content">

                        {{ .Content }}

                        {{ with .Site.Params.Interests }}
                            <p>
                                <span>
                                    <span class="is-inline-block has-text-weight-medium mr-1">Interests: </span>
                                    <span>{{ delimit . ", " }}</span>
                                </span>
                            </p>
                        {{ end }}

                        </div>

                        <div class="content">
                            <h4>Open Source</h4>

                            <ul>

                            {{ with ((where .Site.RegularPages "Type" "projects").ByParam "Date").Reverse }}
                                {{ range . }}
                                    {{ partial "project.html" . }}
                                {{ end }}
                            {{ end }}

                                <li>
                                    <a href="{{ .Site.Params.github }}" style="font-style:italic;" target="_blink">See more open source projects on Github...</a>
                                </li>
                            </ul>
                       </div>

                    {{ with ((where .Site.RegularPages "Type" "works").ByParam "Date").Reverse }}
                        <div class="content">
                            <h4>Research Publications</h4>

                            <ul>

                            {{ range first 8 . }}
                                {{ partial "work.html" . }}
                            {{ end }}

                            {{ if gt (len .) 8 }}
                                <li>
                                    <a href="works" style="font-style:italic;">See more publications...</a>
                                </li>
                            {{ end }}
                            </ul>
                        </div>
                    {{ end }}

                    </div>
                </div>
            </div>
        </div>

        {{- partial "footer.html" . }}

        </body>

</html>
